In [1]:
import pandas as pd

FILE = "part-00000-257f97f6-9f8a-4a6f-94bd-5974c68d903e-c000.snappy.parquet"

df = pd.read_parquet(FILE)

print("\n=== HEAD ===")
df.head()

=== HEAD ===

,order_id,warehouse,customer_zip,weight_kg,carrier,event_time,event_ts,event_date,event_hour,event_dayofweek,weight_bucket,distance_proxy,is_heavy,is_east_coast,carrier_encoded,warehouse_encoded
0,O9246,NEW_YORK,90581,0.66,DHL,2025-11-18T12:59:59.413886,2025-11-18 17:59:59.413886,2025-11-18,12,3,very_light,4419,False,True,1652334468,1931924830
1,O4245,SAN_JOSE,96567,4.90,UPS,2025-11-18T13:00:38.669397,2025-11-18 18:00:38.669397,2025-11-18,13,3,light,1567,False,False,1706285187,462294930
2,O1229,LOS_ANGELES,96639,8.65,UPS,2025-11-18T13:00:39.671301,2025-11-18 18:00:39.671301,2025-11-18,13,3,medium,1639,True,False,1706285187,74336005
3,O9940,NEW_YORK,91034,9.06,UPS,2025-11-18T13:00:40.673428,2025-11-18 18:00:40.673428,2025-11-18,13,3,medium,3966,True,True,1706285187,1931924830
4,O2666,MIAMI,95660,3.73,DHL,2025-11-18T13:00:41.678360,2025-11-18 18:00:41.678360,2025-11-18,13,3,light,660,False,True,1652334468,-1391226988

In [4]:
print("\n=== INFO ===")
df.info()

=== INFO ===
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2235 entries, 0 to 2234
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   order_id           2235 non-null   object
 1   warehouse          2235 non-null   object
 2   customer_zip       2235 non-null   object
 3   weight_kg          2235 non-null   float64
 4   carrier            2235 non-null   object
 5   event_time         2235 non-null   object
 6   event_ts           2235 non-null   datetime64[ns]
 7   event_date         2235 non-null   object
 8   event_hour         2235 non-null   int32
 9   event_dayofweek    2235 non-null   int32
 10  weight_bucket      2235 non-null   object
 11  distance_proxy     2235 non-null   int32
 12  is_heavy           2235 non-null   bool
 13  is_east_coast      2235 non-null   bool
 14  carrier_encoded    2235 non-null   int32
 15  warehouse_encoded  2235 non-null   int32
dtypes: bool(2), datetime64[ns](1), float64(1), int32(5), object(7)
memory usage: 205.3+ KB

In [5]:
print("\n=== NULL COUNTS ===")
df.isnull().sum()

=== NULL COUNTS ===

order_id             0
warehouse            0
customer_zip         0
weight_kg            0
carrier              0
event_time           0
event_ts             0
event_date           0
event_hour           0
event_dayofweek      0
weight_bucket        0
distance_proxy       0
is_heavy             0
is_east_coast        0
carrier_encoded      0
warehouse_encoded    0
dtype: int64

In [6]:
print("\n=== SAMPLE DESCRIPTIVE SUMMARY ===")
df.describe(include='all')

=== SAMPLE DESCRIPTIVE SUMMARY ===

,order_id,warehouse,customer_zip,weight_kg,carrier,event_time,event_ts,event_date,event_hour,event_dayofweek,weight_bucket,distance_proxy,is_heavy,is_east_coast,carrier_encoded,warehouse_encoded
count,2235,2235,2235,2235.000000,2235,2235,2235,2235,2235.000000,2235.0,2235,2235.000000,2235,2235,2.235000e+03,2.235000e+03
unique,1982,5,1999,NaN,4,2235,NaN,1,NaN,NaN,4,NaN,2,2,NaN,NaN
top,O5952,MIAMI,92895,NaN,USPS,2025-11-18T15:22:36.690307,NaN,2025-11-18,NaN,NaN,medium,NaN,False,False,NaN,NaN
freq,3,471,4,NaN,584,1,NaN,2235,NaN,NaN,1151,NaN,1550,1321,NaN,NaN
mean,NaN,NaN,NaN,5.192076,NaN,NaN,2025-11-18 18:33:48.332165888,NaN,13.276957,3.0,NaN,2547.711409,NaN,NaN,1.224429e+09,-9.806065e+07
min,NaN,NaN,NaN,0.500000,NaN,NaN,2025-11-18 17:59:59.413886,NaN,12.000000,3.0,NaN,1.000000,NaN,NaN,7.221018e+08,-1.439426e+09
25%,NaN,NaN,NaN,2.855000,NaN,NaN,2025-11-18 18:09:57.552887552,NaN,13.000000,3.0,NaN,1329.000000,NaN,NaN,7.221018e+08,-1.391227e+09
50%,NaN,NaN,NaN,5.160000,NaN,NaN,2025-11-18 18:19:17.348153088,NaN,13.000000,3.0,NaN,2622.000000,NaN,NaN,8.229462e+08,7.433600e+07
75%,NaN,NaN,NaN,7.555000,NaN,NaN,2025-11-18 18:28:37.114254336,NaN,13.000000,3.0,NaN,3736.000000,NaN,NaN,1.652334e+09,4.622949e+08
max,NaN,NaN,NaN,10.000000,NaN,NaN,2025-11-18 20:22:36.690307,NaN,15.000000,3.0,NaN,4992.000000,NaN,NaN,1.706285e+09,1.931925e+09
std,NaN,NaN,NaN,2.745745,NaN,NaN,NaN,NaN,0.691929,0.0,NaN,1429.819193,NaN,NaN,4.562588e+08,1.262821e+09

----

In [22]:
import pandas as pd
file = "data_lake/model/features_labeled.parquet"
df = pd.read_parquet(file)

df.head()

,order_id,warehouse,customer_zip,weight_kg,carrier,event_time,event_ts,event_date,event_hour,event_dayofweek,weight_bucket,distance_proxy,is_heavy,is_east_coast,carrier_encoded,warehouse_encoded,delivery_days
0,O9246,NEW_YORK,90581,0.66,DHL,2025-11-18T12:59:59.413886,2025-11-18 17:59:59.413886,2025-11-18,12,3,very_light,4419,False,True,1652334468,1931924830,5748.953419
1,O4245,SAN_JOSE,96567,4.90,UPS,2025-11-18T13:00:38.669397,2025-11-18 18:00:38.669397,2025-11-18,13,3,light,1567,False,False,1706285187,462294930,2041.628041
2,O1229,LOS_ANGELES,96639,8.65,UPS,2025-11-18T13:00:39.671301,2025-11-18 18:00:39.671301,2025-11-18,13,3,medium,1639,True,False,1706285187,74336005,2136.139092
3,O9940,NEW_YORK,91034,9.06,UPS,2025-11-18T13:00:40.673428,2025-11-18 18:00:40.673428,2025-11-18,13,3,medium,3966,True,True,1706285187,1931924830,5161.074651
4,O2666,MIAMI,95660,3.73,DHL,2025-11-18T13:00:41.678360,2025-11-18 18:00:41.678360,2025-11-18,13,3,light,660,False,True,1652334468,-1391226988,862.982731

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2235 entries, 0 to 2234
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   order_id           2235 non-null   object
 1   warehouse          2235 non-null   object
 2   customer_zip       2235 non-null   object
 3   weight_kg          2235 non-null   float64
 4   carrier            2235 non-null   object
 5   event_time         2235 non-null   object
 6   event_ts           2235 non-null   datetime64[ns]
 7   event_date         2235 non-null   object
 8   event_hour         2235 non-null   int32
 9   event_dayofweek    2235 non-null   int32
 10  weight_bucket      2235 non-null   object
 11  distance_proxy     2235 non-null   int32
 12  is_heavy           2235 non-null   bool
 13  is_east_coast      2235 non-null   bool
 14  carrier_encoded    2235 non-null   int32
 15  warehouse_encoded  2235 non-null   int32
 16  delivery_days      2235 non-null   float64
dtypes: bool(2), datetime64[ns](1), float64(2), int32(5), object(7)
memory usage: 222.8+ KB

In [27]:
df.shape

(2235, 17)

In [28]:
df.columns

Index(['order_id', 'warehouse', 'customer_zip', 'weight_kg', 'carrier',
       'event_time', 'event_ts', 'event_date', 'event_hour', 'event_dayofweek',
       'weight_bucket', 'distance_proxy', 'is_heavy', 'is_east_coast',
       'carrier_encoded', 'warehouse_encoded', 'delivery_days'],
      dtype='object')

In [30]:
df['delivery_days'].describe()

count    2235.000000
mean     3316.788776
std      1858.766947
min         5.440626
25%      1732.418530
50%      3412.438612
75%      4862.001860
max      6494.217393
Name: delivery_days, dtype: float64

In [37]:
df['delivery_days'].unique()

array([5748.95341855, 2041.62804102, 2136.13909188, ..., 4336.90952897,
        288.28522925, 1748.35690584], shape=(2235,))

In [31]:
df['delivery_days'].value_counts().sort_index()

delivery_days
5.440626       1
8.625389       1
10.674366      1
19.518698      1
19.719500      1
              ..
6482.688832    1
6485.057718    1
6488.579521    1
6488.630943    1
6494.217393    1
Name: count, Length: 2235, dtype: int64

In [45]:
df['delivery_days_days'] = df['delivery_days'] / 1440
df['delivery_days_days'].describe()

count    2235.000000
mean        2.303326
std         1.290810
min         0.003778
25%         1.203068
50%         2.369749
75%         3.376390
max         4.509873
Name: delivery_days_days, dtype: float64

In [33]:
df['carrier_encoded'].unique()

array([1652334468, 1706285187,  822946170,  722101827], dtype=int32)

In [41]:
df[['carrier', 'carrier_encoded']].drop_duplicates()

   carrier  carrier_encoded
0      DHL       1652334468
1      UPS       1706285187
8    FEDEX        822946170
15    USPS        722101827

In [34]:
df['warehouse_encoded'].unique()

array([ 1931924830,   462294930,    74336005, -1391226988, -1439425706],
      dtype=int32)

In [42]:
df[['warehouse', 'warehouse_encoded']].drop_duplicates()

      warehouse  warehouse_encoded
0      NEW_YORK         1931924830
1      SAN_JOSE          462294930
2   LOS_ANGELES           74336005
4         MIAMI        -1391226988
18       DALLAS        -1439425706

In [39]:
df[['weight_kg', 'distance_proxy']].describe()

         weight_kg  distance_proxy
count  2235.000000     2235.000000
mean      5.192076     2547.711409
std       2.745745     1429.819193
min       0.500000        1.000000
25%       2.855000     1329.000000
50%       5.160000     2622.000000
75%       7.555000     3736.000000
max      10.000000     4992.000000

In [40]:
df['weight_bucket'].value_counts()

weight_bucket
medium        1151
light          959
very_light     123
heavy            2
Name: count, dtype: int64

In [36]:
df.isnull().sum()

order_id             0
warehouse            0
customer_zip         0
weight_kg            0
carrier              0
event_time           0
event_ts             0
event_date           0
event_hour           0
event_dayofweek      0
weight_bucket        0
distance_proxy       0
is_heavy             0
is_east_coast        0
carrier_encoded      0
warehouse_encoded    0
delivery_days        0
dtype: int64

In [ ]:
df.columns